<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.easy.example"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="16033101"
    android:versionName="1.1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityActivity"/>
        <activity android:name=".activity.AdapterActivity"/>
        <activity android:name=".activity.DatabaseActivity"/>
        <activity android:name=".activity.FragmentActivity"/>
        <activity android:name=".activity.AnimateActivity"/>
        <activity android:name=".activity.ManagerActivity"/>
        <activity android:name=".activity.PupopActivity"/>
        <activity android:name=".activity.UtilActivity"/>
        <activity android:name=".activity.ViewActivity"/>
        <activity android:name=".activity.ViewPagerActivity"/>
        <activity android:name=".activity.FragmentPagerActivity"/>
        <activity android:name=".activity.EditClearTextActivity"/>

        <activity android:name=".activity.util.AppInfoActivity"/>
        <activity android:name=".activity.util.AppUtilActivity"/>
        <activity android:name=".activity.util.BadgeUtilActivity"/>
        <activity android:name=".activity.util.BitmapUtilActivity"/>
        <activity android:name=".activity.util.DataUtilActivity"/>
        <activity android:name=".activity.util.FileUtilActivity"/>
        <activity android:name=".activity.util.IntentUtilActivity"/>
        <activity android:name=".activity.util.KeyboardUtilActivity"/>
        <activity android:name=".activity.util.LogUtilActivity"/>
    </application>

</manifest>
